
  <dl class="list">
    <dt>User</dt>
    <dd> {{ user.username }} </dd>
    <dt>Average Rating</dt>
    <dd> (add average rating)</dd>
    <dt>Joined</dt>
    <dd>{{ user.updated_at }}</dd>
    <dt>Location</dt>
    <dd>(add location)</dd>
  </dl>

  <br>
  <br>

  <h1>Reviews</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Album</th>
        <th>Rating</th>
        <th>Review</th>
        <th>See More</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reviews">
        <td><a [routerLink]="['/album-details', r.albumId]" routerLinkActive="active"> {{ r.album }} </a></td>
        <td>{{ r.rating }} </td>
        <td>{{ r.content }}</td>
        <td><a [routerLink]="['/review-details', r._id]" routerLinkActive="active">See More</a></td>

        <!--<td>Show More</td>-->
      </tr>
    </tbody>
  </table>
