<div class="container">
  <h1>{{ album.title }}</h1>
  <dl class="list">
    <dt>Artist</dt>
    <dd>{{ album.artist }}</dd>

    <!--
    <dt>Review</dt>
    <dd>{{ album.review }}</dd>
    <dt>Release Date</dt>``
    -->
    <dd>{{ album.updated_at }} (release Date)</dd>
  </dl>

  <h1>Reviews</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Author</th>
        <th>Rating</th>
        <th>Content</th>
        <th>See full</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reviews">
        <td><a [routerLink]="['/user', r.authorId]" routerLinkActive="active"> {{ r.author }} </a></td>
        <td>{{ r.rating }} </td>
        <td>{{ r.content }}</td>
        <td><a [routerLink]="['/review-details', r._id]" routerLinkActive="active">See full</a></td>

        <!--<td>Show More</td>-->
      </tr>
    </tbody>
  </table>

  <h1>Add New Review</h1>
  <form (ngSubmit)="saveReview()" #albumForm="ngForm">
    <div class="form-group">
      <label for="name">Rating</label>
      <input type="number" min='0' max='10' class="form-control" [(ngModel)]="review.rating" name="title" required>
    </div>
    <div class="form-group">
      <label for="name">Review</label>
      <input type="text" class="form-control" [(ngModel)]="review.content" name="author" required>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="!albumForm.form.valid">Save</button>
    </div>
  </form>


</div>
