<div class="container">
  <h1>{{ album.title }}</h1>
  <dl class="list">
    <dt>Artist</dt>
    <dd>{{ album.artist }}</dd>
    <dt>Average Rating</dt>
    <dd>{{ album.rating }} (needs review)</dd>
    <dt>Review</dt>
    <dd>{{ album.review }}</dd>
    <dt>Release Date</dt>
    <dd>{{ album.updated_at }} (release Date)</dd>
  </dl>

  <h1>Reviews</h1>
  <dl class="list">
    <div> <!--should iterate over some reviews for album -->
      <dt>User</dt>
      <dd>Username</dd>
      <dt>Rating</dt>
      <dd>{{ album.rating }} (needs review)</dd>
      <dt>Review</dt>
      <dd>{{ album.review }}</dd>
      <dt>Release Date</dt>
      <dd>{{ album.updated_at }} (release Date)</dd>
    </div>
  </dl>

</div>
